@page
@model eJournal_WebClient.Pages.ArticlePages.DetailsModel
@{
}
	<h1>@Model.Article.Title</h1>
	<p>@Model.Article.Content</p>
<h3>Volume @Model.Article.Issue.Volumn</h3>
<h3>Author</h3>
@foreach (var author in Model.Article.Author)
{
	<a asp-page="/ArticlePages/Index" asp-route-authorName="@author.AuthorName">@author.AuthorName</a>
}
	<h3>Topic</h3>
<a href="#">@Model.Article.Topic.TopicName</a>
	<h3>Download url</h3>
@if(Model.Article.ArticleFileUrl == null)
{
	<p>Download data is not yet available.</p>
}
else
{
	<a href="@Model.Article.ArticleFileUrl">@Model.Article.Title</a>
}