@page
@model eJournal_WebClient.Pages.RegisterModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Registration </title>
    <link rel="stylesheet" href="~/css/register.css">
</head>
<body>
    <div class="wrapper">
        <h2>Registration</h2>
        <form method="post">
            <div class="input-box">
                <input type="text" placeholder="Enter your name" asp-for="@Model.RegistrationRequest.UserName" required>
            </div>
            <div class="input-box">
                <input type="text" placeholder="Enter your email" asp-for="@Model.RegistrationRequest.Email" required>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Create password" asp-for="@Model.RegistrationRequest.Password" required>
            </div>
            <div class="input-box">
                <input type="text" placeholder="Address" asp-for="@Model.RegistrationRequest.Address" required>
            </div>
            <div class="input-box">
                <input type="text" placeholder="Affiliation" asp-for="@Model.RegistrationRequest.Affiliation" required>
            </div>
            <div class="input-box">
                <input type="text" placeholder="PhoneNumber" asp-for="@Model.RegistrationRequest.PhoneNumber" required>
            </div>
            <div class="input-box">
                <select asp-for="@Model.RegistrationRequest.CountryId" asp-items="ViewBag.CountryId" ></select>
            </div>
            @if (!string.IsNullOrEmpty(@Model.ErrorMessage))
            {
                            <div style="color: red; margin-bottom: 5px">*@Model.ErrorMessage</div>
            }
            <div class="input-box button">
                <input type="Submit" value="Register Now">
            </div>
            <div class="text">
                <h3>Already have an account? <a href="/Login">Login now</a></h3>
            </div>
        </form>
    </div>
</body>
</html>
