@page
@model eJournal_WebClient.Pages.UserArticlePages.DetailsModel
@{
}
@if(Model.Article.Status == "Draft" || Model.Article.Status == "Revise")
{
	<a asp-page="/UserArticlePages/Create" class="button primary">Create</a>
}
<h1>@Model.Article.Title</h1>
	<p>@Model.Article.Content</p>
@if (@Model.Article.Issue != null)
{
	<h3>Volume @Model.Article.Issue.Volumn</h3>
}
<h3>Author</h3>
@foreach (var author in Model.Article.Author)
{
	<a asp-page="/UserArticlePages/Index" asp-route-authorName="@author.AuthorName">@author.AuthorName</a>
}
	<h3>Topic</h3>
<a href="#">@Model.Article.Topic.TopicName</a>
	<h3>Download url</h3>
@if(Model.Article.ArticleFileUrl == null)
{
	<p>Download data is not yet available.</p>
}
else
{
	<a href="@Model.Article.ArticleFileUrl">@Model.Article.Title</a>
}